<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>SuperSQL</string>
    <key>uuid</key>
    <string>549BF066-F320-4E84-8BF5-F10FA1516EED</string>
    <key>version</key>
    <string>0.51218</string>
    <key>description</key>
    <string>SuperSQL (SPQ) syntax highlighting for SuperDB queries</string>
    <key>contactName</key>
    <string>chrismo</string>
    <key>contactEmailRot13</key>
    <string>puevfzb@pynof.bet</string>
</dict>
</plist>
